[user]
	email = pseudo.ilya@gmail.com
	name = Ilya Pikulin
	# signingkey = 72F350CB991F0F175808F3426AF4752FD5826035
[core]
	editor = vim
	excludesfile = /home/d/.gitignoreglobal

[alias]
    c  = commit
    ci = commit -v
    st = status
    co = checkout
    b = branch
    l  = log
    oops = revert --no-edit HEAD

[commit]
	# gpgsign = true
[http]
    #proxy = http://proxy.croc.ru:8000
